@page "/paybillsdetails"
@layout AccountLayout
@inject ISessionStorageService sessionStorage
@inject IHttpClientFactory clientFactory
@inject NavigationManager NavigationManager
@inject IDataProtectionProvider dataProtection


<section class="paybills">
    <h2 class="heading-secondary"
        style="
              font-size: 3rem;
              margin-top: 2rem;
              margin-bottom: 2rem;
              margin-left: 0;
              margin-right: 0;
            ">
        Pay your bill
    </h2>
    <!-- fix text fields width & position -->
    <div class="paybills__form">
        <form action="/pay" method="POST">
            <div class="form__group paybillsdetailsform">
                <input type="text"
                       class="form__input"
                       placeholder="Type"
                       @bind="title"
                       id="Type" />
                <label for="Type" class="form__label">Title</label>
            </div>
            <div class="form__group paybillsdetailsform">
                <input type="text"
                       class="form__input"
                       placeholder="Description"
                       @bind="desc"
                       id="description" />
                <label for="description" class="form__label">Description</label>
            </div>
            <div class="form__group paybillsdetailsform">
                <input type="number"
                       class="form__input"
                       placeholder="Amount"
                       @bind="amount"
                       id="amount" />
                <label for="amount" class="form__label">Amount</label>
            </div>
            <!-- style this class="form__label"-->
            <div class="paybillsdetailsdiv" style="margin-bottom: 2rem">
                <input class="paybillsdetailsdivcheckbox"
                       type="checkbox"
                       id="automatic-payment"
                       @bind="auto"
                       name="automatic-payment" />
                <label for="automatic-payment" class="paybillsdetailsdivlabel">Automatic Monthly Payment</label>
            </div>
            <div>
                <h3>@alert</h3>
            </div>
            <!-- put this in center -->
            <div class="form__group">
                <a href="/paybills" class="btn btn--green">&larr; Back</a>
                <button class="btn btn--green">Submit &rarr;</button>
            </div>
            <!-- tell waleed to add option that user must turn off automatic payment if they want to pay same bill again (pop up) -->
        </form>
    </div>
</section>

@code {
    int accountID { get; set; }
    string loadingMessage { get; set; }
    private UserModel user = new UserModel();
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }
    protected override async Task OnInitializedAsync()
    {
        try
        {
            UserData data = new UserData(clientFactory, sessionStorage);
            var accountIDString_p = await sessionStorage.GetItemAsync<string>("accountID");
            var protector = dataProtection.CreateProtector("TheProtector");
            var accountIDString = protector.Unprotect(accountIDString_p);
            accountID = int.Parse(accountIDString);


            if (authenticationState is not null)
            {
                var authState = await authenticationState;
                if (authState.User.Identity.IsAuthenticated)
                {

                    string claimValue = authState.User.Claims.ElementAtOrDefault(1)?.ToString();
                    user = await data.GetUserFromContext(claimValue);

                    //transaction
                    transaction.accountID = accountID;
                    transaction.userID = user.userID;
                    transaction.debit = true;

                    //scheduled transaction
                    scheduledTransaction.accountID = accountID;
                    scheduledTransaction.userID = user.userID;
                    scheduledTransaction.debit = true;
                }
            }

        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private TransactionModel transaction = new TransactionModel();
    private ScheduledTransactions scheduledTransaction = new ScheduledTransactions();
    private bool auto { get; set; }
    private double amount { get; set; }
    private string alert { get; set; }
    string title { get; set; }
    string desc { get; set; }
    private async Task HandleSubmit()
    {
        try
        {
            TransactionData data = new TransactionData(clientFactory);

            if (auto)
            {
                //Schedule
                scheduledTransaction.amount = amount;
                scheduledTransaction.title = title;
                scheduledTransaction.description = desc;
                scheduledTransaction.transactionDate = DateTime.Now;
                scheduledTransaction.endDate = DateTime.Now.AddMonths(12);
                //not sure
                scheduledTransaction.transactionFrequency = 4;
                var response = await data.CreateScheduledTransaction(scheduledTransaction);
                if (response.IsSuccessStatusCode)
                {
                    alert = "Payment Added";
                    await Task.Delay(2000); // Wait for 2 seconds
                    alert = "redirecting...";
                    NavigationManager.NavigateTo("/paybills");
                }
                else
                {
                    alert = "Error with payment";
                }
            }
            else
            {
                //Pay Now
                transaction.amount = amount;
                transaction.title = title;
                transaction.description = desc;
                transaction.transactionDate = DateTime.Now;
                var response = await data.CreateTransaction(transaction);
                if (response.IsSuccessStatusCode)
                {
                    alert = "Payment Successful";
                    alert = "Payment Added";
                    await Task.Delay(2000); // Wait for 2 seconds
                    alert = "redirecting...";
                    NavigationManager.NavigateTo("/paybills");
                }
                else
                {
                    alert = "Error with payment";
                }
            }
        }
        catch (Exception ex)
        {

        }
    }
}
